<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BTES_Academics | Contact Us</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <!-- ==================================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <!-- ==================================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-touch-slider' %}">
  <!-- ==================================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bt.css' %}">
  <!-- ==================================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/imagehover.min.css' %}">
  <!-- ==================================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
  <!-- ==================================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}">
  <!-- ==================================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
  <!-- ==================================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">

</head>

<body class="host_version">
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'homepage' %}">BTES_<span>Academics</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'homepage' %}" class="active" >Home</a></li>
          <li><a href="{% url 'aboutUs' %}" >About Us</a></li>
          <li><a href="{% url 'contactUs' %}" style="color:#5FCF80;">Contact Us</a></li>
          <li><a href="#" data-target="#login" data-toggle="modal">Sign in</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navigation bar -->
  <!--Modal box-->
  <div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content no 1-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center form-title">Login</h4>
        </div>
        <div class="modal-body padtrbl">

          <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div class="form-group">
              <form name="" action="{% url 'login' %}" method="POST" id="loginForm">
                {% csrf_token %}
                <div class="form-group has-feedback">
                  <!----- username -------------->
                  <input class="form-control" name="uname" placeholder="Username" id="loginid" type="text" autocomplete="off" autofocus />
                  <span style="display:none;font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginid"></span>
                  <!---Alredy exists  ! -->
                  <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <!----- password -------------->
                  <input class="form-control" name="pwd" placeholder="Password" id="loginpsw" type="password" autocomplete="off" />
                  <span style="display:none;font-weight:bold; position:absolute;color: grey;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginpsw"></span>
                  <!---Alredy exists  ! -->
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <!----- select -------------->
                  <label for="exampleFormControlSelect1">Status</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="status">
                    <option selected value="Student">Student</option>
                    <option value="Instructor">Instructor</option>
                  </select>
                  <span style="display:none;font-weight:bold; position:absolute;color: grey;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id=""></span>
                  <!---Alredy exists  ! -->
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                  <!-- <div class="col-xs-12">
                    <div class="checkbox icheck">
                      <label>
                                <input type="checkbox" id="loginrem" > Remember Me
                              </label>
                    </div>
                  </div> -->
                  <div class="col-xs-12">
                    <button class="btn btn-green btn-block btn-flat" type="submit">Sign In</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--/ Modal box-->
  <!--Banner-->
  <div class="banner1">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3429.8679641575764!2d76.76854191431448!3d30.722112081640844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fedad964a9965%3A0x660e5b8b9aa30be7!2sBebo%20Technical%20Education%20Services!5e0!3m2!1sen!2sin!4v1584000027263!5m2!1sen!2sin" width="1265" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
   </div>
  <!--/ Banner-->
  <!--Feature-->
  <section class="page-section contact"> 
    <div class="container"> 
      <div class="row"> 
      <!--Left Page Container--> 
      <div class="col-md-6"> 
        <div class="inner-container">
         <h1 style="font-weight: 700;font-size: 60px">CONTACT <span style="color:green">BTES</span></h1>
          <h4>Bebo Technical Education Services Pvt. Ltd. </h4> 
          <span class="high-end">(A High-end Training Division of bebo Technologies Pvt. Ltd.)</span> 
          <address> <span>SCO 156-157, 4th Floor, Near Verka Building, Sector 34-A, Chandigarh-160022</span> <hr>
            <ul style="text-align: left;padding: 0px"><li>+91-172-5086508, +91-172-5087508</li><hr><li> <span>For general and other Information mail us at (For students only):</span> <a href="mailto:info@btes.co.in">info@btes.co.in </a> </li> <hr><li> <span>Companies seeking the talent hiring from BTES mail us at:</span><a href="mailto:placements@btes.co.in">placements@btes.co.in </a> </li> 
            </ul> 
          </address> 
            </div>
             </div> <!--End left Page Container--> <!--Start Sidebar--> <!---------------- Contact Us Form ------------------> 
           </div> 
         </div> 
       </section>
       <section id="work-shop" class="section-padding">
          <div class="container">
            <div class="row">
              <div class="container conbox mb-3">
                    <div class="row">
                      <div class="col-md-4 col-sm-6 mb-3">
                        <div class="service-box text-center hvr-bounce-out hvr-grow-shadow">
                          <div class="icon-box">
                            <img class="card-img-top" src="{% static 'img/experts.png' %}" alt="Card image cap" style="background-color:black;width:200px;height:200px;">
                          </div>
                          <div class="icon-text">
                            <h4 class="ser-text">Courses Developed By Industry Experts</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="service-box text-center hvr-bounce-out hvr-grow-shadow">
                          <div class="icon-box fade show" style="opacity: 2">
                            <img class="card-img-top" src="{% static 'img/place.png' %}" alt="Card image cap" style="background-color:black;width:200px;height:200px;">
                          </div>
                          <div class="icon-text">
                            <h4 class="ser-text">100% Placements Assistance TO Students</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="service-box text-center hvr-bounce-out hvr-grow-shadow">
                          <div class="icon-box">
                            <img class="card-img-top" src="{% static 'img/trainings.png' %}" alt="Card image cap" style="background-color:black;width:200px;height:200px;">
                          </div>
                          <div class="icon-text">
                            <h4 class="ser-text">Live/Real Time Project Based Trainings</h4>
                          </div>
                        </div>
                      </div>
              </div>
            </div>
            </div>
          </div>
        </section>
 
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/jquery.easing.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'js/contactform.js' %}"></script>
      <script src="{% static 'js/all.js' %}"></script>
 <script>
   timeline(document.querySelectorAll('.timeline'), {
     forceVerticalMode: 700,
     mode: 'horizontal',
     verticalStartPosition: 'left',
     visibleItems: 4
   });
 </script>
</body>
</html>
