<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
      .form-signin .checkbox {
        font-weight: 400;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .h3{
        text-align: center;
      }
    </style>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

<!--===================================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bt.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/gfg.min.css' %}">
  <!--==================================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
  <!--===================================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
  <!--===================================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
  <!-- ==================================================================== -->
  <!-- ==================================================================== -->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'homepage' %}">BTES_<span>Academics</span></a>
      </div>
      <div class="" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'homepage' %}" class="active" style="color:#5FCF80;">Home</a></li>
          <li><a href="{% url 'aboutUs' %}">About Us</a></li>
          <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
          <li><a href="#" data-target="#login" data-toggle="modal" id="sgn">Sign in</a></li>
        </ul>
      </div>

    </div>
  </nav>
<div class="alert alert-danger" role="alert">
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-danger" role="alert" style="color:black;">{{msg}}</div>
      {% endfor %}
      {% endif %}
</div>

  <div class="modal" id="login" >
    <div class="modal-dialog modal-sm">

      <!-- Modal content no 1-->
      <div class="modal-content" style="width:90%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center form-title">Login</h4>
        </div>
        <div class="modal-body padtrbl">

          <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div class="form-group">
              <form name="" action="{% url 'login' %}" method="POST" id="loginForm">
                {% csrf_token %}
                <div class="form-group has-feedback">
                  <!----- username -------------->
                  <input class="form-control" name="uname" placeholder="Username" id="loginid" type="text" autocomplete="off" autofocus />
                  <span style="display:none;font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginid"></span>
                  <!---Alredy exists  ! -->
                </div>
                <div class="form-group has-feedback">
                  <!----- password -------------->
                  <input class="form-control" name="pwd" placeholder="Password" id="loginpsw" type="password" autocomplete="off" />
                  <span style="display:none;font-weight:bold; position:absolute;color: grey;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginpsw"></span>
                  <!---Alredy exists  ! -->
                </div>
                <div class="form-group has-feedback">
                  <!----- select -------------->
                  <label for="exampleFormControlSelect1">Status</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="status">
                    <option selected value="Student">Student</option>
                    <option value="Instructor">Instructor</option>
                  </select>
                  <span style="display:none;font-weight:bold; position:absolute;color: grey;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id=""></span>
                  <!---Alredy exists  ! -->
                </div>
                <div class="row">
                  <!-- <div class="col-xs-12">
                    <div class="checkbox icheck">
                      <label>
                                <input type="checkbox" id="loginrem" > Remember Me
                              </label>
                    </div>
                  </div> -->
                  <div class="col-xs-12">
                    <button class="btn btn-green btn-block btn-flat" type="submit">Sign In</button><br>
                    Forget Password ?<a href="{% url 'password_reset' %}" style="text-decoration:none;">Click here</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col-12">
            <form method="POST" class="form-signin">{% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
                <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>
              {% for field in form %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            {% endfor %}
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/contactform.js' %}"></script>
  <script src="{% static 'js/all.js' %}"></script>
</body>
</html>