<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock %}</title>
  <meta name="description" content="BTES_ACADEMICS ">
  <meta name="keywords" content="BTES_Academics">
<!-- External CSS Files -->
  {% load static %}
  {% block links %} {% endblock %}
<!--  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">-->
<!--  &lt;!&ndash; ==================================================================== &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">-->
<!--  &lt;!&ndash; ==================================================================== &ndash;&gt;-->
<!--  &lt;!&ndash; ==================================================================== &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">-->
<!--  &lt;!&ndash; ==================================================================== &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/imagehover.min.css' %}">-->
<!--  &lt;!&ndash; ==================================================================== &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
<!--  &lt;!&ndash; ==================================================================== &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}">-->
<!--  &lt;!&ndash; ==================================================================== &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/gfg.min.css' %}">-->
<!--  &lt;!&ndash;====================================================================== &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">-->
<!--  &lt;!&ndash;======================================================================  &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/style2i.css' %}">-->
<!--  &lt;!&ndash;======================================================================= &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">-->
<!--  &lt;!&ndash;======================================================================= &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/hamburgers.min.css' %}">-->
<!--  &lt;!&ndash;======================================================================= &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">-->
<!--  &lt;!&ndash;======================================================================= &ndash;&gt;-->

  <style type="text/css">
    p{
      font:caption;
    }
@media (min-width: 768px)
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -30px;
}
    {% block css %} {% endblock %}

  </style>

</head>

<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top" style="margin-left: -30px;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">BTES_<span>Academics</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#feature" class="active">Home</a></li>
          <li><a href="#organisations">About US</a></li>
          <li><a href="#courses">Contact us</a></li>
          <li><a href="#" data-target="#login" data-toggle="modal">Sign in</a></li>
        </ul> -->
        {% block nav %} {% endblock %}
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->

  <!-- Block of Body -->
  {% block body %} {% endblock %}


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/contactform.js' %}"></script>
  <script src="{% static 'js/all.js' %}"></script>

{% block js %} {% endblock %}
</body>

</html>
